{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'todo/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="{% static 'todo/assets/fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/fonts/simple-line-icons.min.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/Login-Form-Basic-icons.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/untitled-2'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/untitled-3.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/untitled-4.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/untitled-5.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/untitled-7.css'%}">
    <link rel="stylesheet" href="{% static 'todo/assets/css/untitled.css'%}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">TO-DO MASTER APP</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#signup">REGISTER</a></li>
                    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: linear-gradient(171deg, #47126b 38%, #f72585);">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="mx-auto header-content">
                        <h1 class="mb-5">Convenient and productive task manager </h1>
                        <p>We have created an intuitive and creative interface for team work. "Elevate your productivity game with a companion that offers personalized solutions and actionable insights"</p><a class="btn btn-outline-warning btn-xl" role="button" href="#download" style="background: linear-gradient(#F72595, #B5179E);border-style: none;">GET STARTED for Free!</a>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image: url('{% static 'todo/assets/img/iphone_6_plus_white_port.png'%}');">
                                <div class="screen"><img class="img-fluid" src="{% static 'todo/assets/img/Screenshot%20from%202023-03-29%2000-28-12.png'%}"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-mockup"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-primary download" id="signup" style="background: linear-gradient(-165deg, #b5179e, #b5179e 100%);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading" style="color: white;">Discover what all the buzz is about!</h2>
                    <p style="color: white;">Our app is available on any mobile device! Register now to get started!</p>
                    <div class="badges"><a class="badge-link" href="#"><a class="btn btn-outline-warning btn-xl" role="button" href="{% url 'to_do_list:signup' %}" style="background: linear-gradient(-23deg, #F72595, #480ca8);border-style: none;margin-right: 30px;">SIGN UP</a></a><a class="badge-link" href="#"><a class="btn btn-outline-warning btn-xl" role="button" href="{% url 'to_do_list:signin' %}" style="background: linear-gradient(#F72595, #480ca8);border-style: none;">SIGN IN</a></a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
        <div class="container">
            <div class="text-center section-heading">
                <h2>Unlimited Features, Unlimited Fun</h2>
                <p class="text-muted">Check out what you can do with this app !</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image: url('{% static 'todo/assets/img/iphone_6_plus_white_port.png'%}');">
                                <div class="screen"><img class="img-fluid" src="{% static 'todo/assets/img/Screenshot%20from%202023-03-29%2000-28-12.png'%}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Device Mockups</h3>
                                    <p class="text-muted">Put as many tasks as possible to your tasks list in-order to be able to track your progress&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-camera text-primary"></i>
                                    <h3>Future Works</h3>
                                    <p class="text-muted">Put an image, video, animation, or anything else in the screen to analyse how to schedule tasks</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, this app is free to register and use for any purpose!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item"><i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Since this app is course work, you can use it commercially!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta" style="background-image: url('{% static 'todo/assets/img/bg-cta.jpg'%}');">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start tasking.</h2><a class="btn btn-outline-warning btn-xl" role="button" href="#contact">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="bg-primary contact" id="contact" style="background: linear-gradient(WHITE, white);">
        <div class="container">
            <h2><span>&nbsp;We welcome new friends!</span></h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item social-google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>© To-do master 2023. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'todo/assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'todo/assets/js/new-age.js'%}"></script>
</body>

</html>